@import "~assets/css/_colors";

.section {
  position: relative;

  @media screen and (min-width: 800px) {
    & > .container:not(.box) {
      display: flex;
      position: relative;

      & > main {
        flex: 1;
      }

      & > aside {
        align-self: flex-start;
        box-sizing: content-box;
        margin-left: 3rem;
        flex: 0 0 310px;
      }
    }
  }
}